@model IList<StoreSample.Data.Book>

@{ ViewBag.Title = "Home Page"; }


<div class="row">
    <div class="col-md-12">
        <!-- book container -->
        <ul class="book-container">
            @foreach (var book in Model)
            {
                <li>
                    <div class="product-inner">
                        <a href="@Url.Action("Details", "Books", new { Id = book.IdBook })" class="product-link">
                            <figure class="product-image-box">
                                <img width="250" height="333" src="http://demo.toko.press/bookie2/standard/wp-content/uploads/2016/06/book-23-250x333.jpg"
                                     alt="book-23" title="book-23">
                            </figure>
                            <div>
                                <h3>@book.Title</h3>
                                <span class="author">@book.Author</span>
                                <span class="price">
                                    <span class="amount">
                                        @book.Price.ToString("c")
                                    </span>
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
            }
        </ul>
        <!-- /book container -->
    </div>
</div>