body {
    background: #efefef;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    margin: 0 -15px 0 -15px;
    padding: 15px;
}

header {
    background: #2f2b35;
    color: white;
}

header h1.brand { margin: 40px 0; text-indent: -9999px; overflow: hidden; background: url('images/logo.png'); width:200px; height:66px;}

header ul { list-style: none; margin: 62px 0;  line-height: 23px; font-size: 16px;}
header ul li { float: left; margin: 0 10px; padding: 0 5px;}
header ul li.selected { border-bottom: 1px solid #007acc;}

header.search { background: white; padding: 30px 0;}
header.search input { border-radius: 0; background: #efefef;box-shadow: none; border-color: #2f2b35; font-size: 12px; }
header.search input:focus { box-shadow: none; border-color: #2f2b35; }
header.search .row { width: 50%; }
header.search .btn-search { background: #2f2b35; border-radius: 0;}
header.search .btn-search:hover { color: white; }